var versions_array = []

$("#rails-versions p.sosumi").remove();

$("#rails-versions").children().each(function(){
  versions_array.push("<span>" + $(this).text() + "</span>");
});

<% params[:rails_versions].each do |version| %>
  versions_array.push("<span><%= version %></span>");
<% end %>

versions_array = $.unique(versions_array).reverse();

$("#rails-versions").empty();
$("#remove-rails-version-form").find('span').remove();
$(':input', '#add_rails_version_form').removeAttr('checked');

for (version in versions_array) {
  $("#rails-versions").append(versions_array[version]);
  $("#remove-rails-version-form").append(versions_array[version]);
}

$("a#fancybox-close").click();