#header { background:#F7F7F7; }
#nav a { color:#74828C !important; text-shadow:1px 1px 0px #DDD; }
#nav a:hover { color:#5987aa !important; }

#home_logo
{
  width: 175px;
  margin: 0 auto;
  padding: 50px 0 75px;
}

#home_logo img
{
  width: 170px;
  margin: 0 auto;
}

#home_container {
  min-height: 450px;
  background: #EAEAEA;
  color: #333;
}

#home_container .textInput
{
  	width:550px; 
  	margin:auto;
}

#home_container .textInput input
{
	-webkit-appearance:none;
	background:#FFFFFF url(/images/search_icon.png) no-repeat 10px center;
	opacity:0.7;
	border:0px;
	color:#444;
	font-size:24px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;

	padding:20px 20px 20px 35px;
	
	height: 50px;
	width:550px;
	margin: 15px auto auto;
	box-shadow:2px 4px 8em #333333;
	border:1px #EAEAEA solid;
	outline:none;
}

#home_container .textInput input:focus
{
	transition: all 0.25s ease-in-out;
   -webkit-transition: all 0.25s ease-in-out;
   -moz-transition: all 0.25s ease-in-out;
    box-shadow: 0 0 50px rgba(81,203,238, 1);
   -webkit-box-shadow: 0 0 50px rgba(81,203,238, 1); 
   -moz-box-shadow: 0 0 50px rgba(81,203,238, 1);
   border:1px solid rgba(81,203,238, 0.8);
}

input[type="password"]
{
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #CCCCCC;
  font-size: 14px;
  height: 20px;
  padding: 8px 10px;
  width: 200px;
}

#login-form-home input[type="email"]
{
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #CCCCCC;
  font-size: 14px;
  height: 20px;
  padding: 8px 10px;
  width: 200px;
}

.sign_up
{
  text-align:center;
  font-size:16px;
  padding-bottom:40px;
	margin-bottom:0px;
}

.sign_up a { text-transform:uppercase; font-size:12px; }

.sign_up a:hover { text-decoration:none; }